@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply min-w-0;
  }

  *:focus-visible {
    @apply default-outline;
  }

  html,
  body {
    @apply min-h-screen bg-neutral-50 text-neutral-700 dark:bg-neutral-900 dark:text-neutral-300;
  }
}

@layer components {
  .tiptap * {
    text-wrap: pretty;
    @apply my-4;
  }
  .tiptap h1 {
    @apply text-3xl font-bold;
  }
  .tiptap h2 {
    @apply text-2xl font-bold;
  }
  .tiptap h3 {
    @apply text-xl font-semibold;
  }
  .tiptap h4 {
    @apply text-lg font-semibold;
  }
  .tiptap h5 {
    @apply text-base font-medium;
  }
  .tiptap h6 {
    @apply text-sm font-medium;
  }
  .tiptap p {
    @apply text-base font-normal leading-relaxed;
  }
  .tiptap blockquote {
    @apply relative my-2 rounded-md px-8 py-4 before:absolute before:left-0 before:top-0 before:h-full before:w-1.5 before:rounded-full before:bg-neutral-300 before:transition-colors before:duration-300 before:content-[''] hover:before:bg-primary-600 before:dark:bg-neutral-600 dark:hover:before:bg-primary-300;
  }
  .tiptap blockquote p {
    @apply font-serif tracking-wide;
  }
  .tiptap p:has(code) {
    @apply my-2;
  }
  .tiptap p:has(code) code {
    @apply rounded-md border border-neutral-300 bg-neutral-100 px-2 py-0.5  text-neutral-700 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300;
  }
  .tiptap pre:has(code) {
    @apply my-2 rounded-md border border-neutral-300 bg-neutral-100 p-4  text-neutral-700 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300;
  }
  .tiptap ol {
    counter-reset: orderedList;
  }
  .tiptap ol li::before {
    content: counter(orderedList) ".";
    counter-increment: orderedList;
    @apply absolute -left-4 top-0;
  }
  .tiptap ul {
    list-style: disc;
  }
  .tiptap ul,
  .tiptap ol {
    @apply px-4;
  }
  .tiptap li {
    @apply relative;
  }

  .ProseMirror {
    @apply white;
  }

  input[type="color" i]::-webkit-color-swatch-wrapper {
    @apply overflow-hidden rounded-md p-0;
  }

  input[type="color" i]::-webkit-color-swatch {
    @apply w-auto border-transparent;
  }
}

@layer utilities {
  .default-outline {
    @apply outline outline-2 outline-primary-700 dark:outline-primary-300;
  }
}
