@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .default-outline {
    @apply outline outline-primary-600 dark:outline-primary-300;
  }

  .animate-in {
    animation: 200ms ease-in-out forwards in;
  }
}

@keyframes in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

html,
body {
  @apply bg-neutral-50 text-neutral-700 dark:bg-neutral-950 dark:text-neutral-300;
}

body {
  @apply min-h-screen w-full;
}

*,
*::before,
*::after {
  @apply min-w-0 !leading-normal;
}

*:focus-visible {
  @apply default-outline;
}
